<ul id="nav">
    <li>@Html.ActionLink("Create Album","Save","Album") </li>
    <li>@Html.ActionLink("Manage Album","Index","Album") </li>
    <li>@Html.ActionLink("Add Photo","Save","Photo") </li>
    <li>@Html.ActionLink("Manage Photo","Index","Photo") </li>
</ul>